body {
    background-color: pink;
}

h1 {
    color: purple;
    text-align: center;
    }

p {
    color: rgb(121, 143, 93);
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
}